aiohttp
gcld3
google-cloud-translate==2.0.1
google-cloud-vision
gql
ipympl
jupyterlab
jupyter_http_over_ws
matplotlib
numpy
pandas
python-terrier
rich
seaborn
tqdm
unidecode
scikit-learn
sentence-transformers
wandb
wordcloud